#branding > h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
}

#branding > h2 {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#operation-preview {
    margin: 1px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#display {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    grid-template-areas: ". display .";
}

#display > h1 {
    grid-area: display;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#calculator-buttons {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-gap: 10px;
    justify-items: center;
    grid-template-areas: ". operations ."
                        ". digit .";
}

#calculator-numbers {
    padding-top: 20px;
    grid-area: digit;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". button0 button1 button2 ."
                        ". button3 button4 button5 ."
                        ". button6 button7 button8 ."
                        ". buttonDecimal button9 backspaceButton .";
}

#calculator-numbers > button {
    border-radius: 5px;
    background-color: lightblue;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#calculator-numbers > button:hover {
    border-color: black;
    font-size: 25px;
}

#calculator-operations > button:hover {
    border-color: black;
    font-size: 25px;
}

#calculator-operations > button {
    border-radius: 5px;
    background-color: lightgrey;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#calculator-operations {
    grid-area: operations;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: ". . operation0 operation1 operation2 operation3 operation4 operation5 . . ";
}
button:focus {
    outline: none;
}